input[type="checkbox"] {
  margin-right: 10px;
  text-align: left;
}

label {
  margin-right: 20px;
}

/* input[type="radio"] {
  margin-right: 10px;
  text-align: left;
} */

.filter-panel {
  padding-left: 20px;
  padding-top: 20px;
  background-color: #d7dee2;
  height: 100%;
}

.navigation-panel {
  padding-top: 20px;
  background-color: #d7dee2;;
  height: 100%;
}

.handle {
  padding: 5px;
  width: 100%;
  background-color: #41485a;
  color: white;
  text-align: center;
  height: 30px;
}

.handle:hover {
  cursor: move;
}

input[type="radio"] {
  margin-right: 10px;
}

.scatter-plot {
  /* border: 1px solid black; */
  height: auto;
}

#worldwideStatsButton {
  width: 100%;
}

/* * {
  border: 1px solid burlywood;
} */
