input[type="checkbox"] {
  margin-right: 10px;
  text-align: left;
}

label {
  margin-right: 20px;
}

/* input[type="radio"] {
  margin-right: 10px;
  text-align: left;
} */

.filter-panel {
  padding-left: 20px;
  padding-top: 20px;
  background-color: #d7dee2;
  height: 100%;
}

.navigation-panel {
  padding-top: 20px;
  background-color: #d7dee2;;
  height: 100%;
}

.handle {
  padding: 5px;
  width: 100%;
  background-color: #41485a;
  color: white;
  text-align: center;
  height: 30px;
}

.handle:hover {
  cursor: move;
}

input[type="radio"] {
  margin-right: 10px;
}

.scatter-plot {
  /* border: 1px solid black; */
  height: auto;
}

#worldwideStatsButton {
  width: 100%;
}

.patient {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  background-color: rgb(236, 235, 234);
}

.table-filter {
  background-color: #41485a;
  color: white;
  width: 100%;
}

.noResults {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  background-color: rgb(230, 226, 222);
}

.notification {
  background-color: aquamarine;
  padding: 5px;
  text-align: center;
}

.loading {
  background-color: rgb(206, 198, 198);
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}
